<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS (optional) -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'security_management/css/style.css' %}">

    {% block head_extra %}{% endblock %}
</head>

<body>
    <header class="container mt-3">
        <h1>{{ title }}</h1>
        {% include 'security_management/atoms/links.html' %}
        <hr />
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap JS (optional but recommended) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
